<!-- <div id="googlemapcontainer" class="negiMap"></div> -->

<!-- <google-maps-angular (markerClicked)="markerClicked($event)" [markers]="markers"
    [latLong]="latLong" [apiKey]="'AIzaSyBM-Pje26mgUYOfDwfVEAUCZNp-3W8GjwA'" [googleMapDefaultIcon]="googleMapDefaultIcon"></google-maps-angular> -->


    <!-- <file-upload-angular
      #fileUploader
      [multiple]="true"
      [config]="config"
      [buttonText]="'Select Files'"
      (fileUploadEmitter)="fileUploadHandler($event)"
      (filesEmitter)="handleFiles($event)"
    ></file-upload-angular> -->

    <chart-lib-testing></chart-lib-testing>