<!-- <div id="googlemapcontainer" class="negiMap"></div> -->

<!-- <lib-google-maps-angular (markerClicked)="markerClicked($event)" [markers]="markers"
    [latLong]="latLong" [apiKey]="'AIzaSyBM-Pje26mgUYOfDwfVEAUCZNp-3W8GjwA'" [googleMapDefaultIcon]="googleMapDefaultIcon"></lib-google-maps-angular> -->


    <!-- <lib-file-upload
      #fileUploader
      [multiple]="true"
      [config]="config"
      [buttonText]="'Select Files'"
      (fileUploadEmitter)="fileUploadHandler($event)"
      (filesEmitter)="handleFiles($event)"
    ></lib-file-upload> -->

    <chart-lib-testing></chart-lib-testing>